@page "/genders/create"

@using Microsoft.EntityFrameworkCore
@using SIMS.Models
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Genders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Genders" OnValidSubmit="AddGenders" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Genders.Name" class="form-control" /> 
                <ValidationMessage For="() => Genders.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/genders">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Genders Genders { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddGenders()
    {
        using var context = DbFactory.CreateDbContext();
        context.Genders.Add(Genders);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/genders");
    }
}
