@page "/genders"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Models
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="genders/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Genders">
    <PropertyColumn Property="genders => genders.Name" />

    <TemplateColumn Context="genders">
        <a href="@($"genders/edit?id={genders.Id}")">Edit</a> |
        <a href="@($"genders/details?id={genders.Id}")">Details</a> |
        <a href="@($"genders/delete?id={genders.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
