@inherits LayoutComponentBase


<div class="page">
	<div class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4 z-10 py-4 bg-white shadow-md dark:bg-gray-800">
		<TopRow />
		</div>

		<article class="content px-4 h-screen bg-gray-50 dark:bg-gray-900">
			@Body
		</article>
	</main>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

