@page "/semesters"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Models
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<h1 class="text-center" style="color: #FF6600; font-weight: bold;">SEMESTER</h1>


<a href="semesters/create" class="btn-create">
    <i class="fas fa-plus-circle"></i> Create New
</a>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Semesters">
    <PropertyColumn Property="semesters => semesters.Name" />
    <PropertyColumn Property="semesters => semesters.StartDate" />
    <PropertyColumn Property="semesters => semesters.EndDate" />
    <PropertyColumn Property="semesters => semesters.Code" />

    <TemplateColumn Context="semesters">
   
        <div style="text-align: right;">
            <a href="@($"semesters/edit?id={semesters.Id}")"><i class="fa-solid fa-pen-to-square"></i></a> |
            <a href="@($"semesters/details?id={semesters.Id}")"><i class="fa-solid fa-eye"></i></a> |
            <a href="@($"semesters/delete?id={semesters.Id}")"><i class="fa-solid fa-delete-left"></i></a>
        </div>
    </TemplateColumn>
</QuickGrid>
