@page "/semesters"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Models
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Semesters
</h2>
<hr class="mb-3" />
<a class="items-center px-4 py-2 text-sm font-medium text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple
    " href="/semesters/create">
    Create new
    <span class="ml-2" aria-hidden="true">+</span>
</a>


<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Semesters">
    <PropertyColumn Property="semesters => semesters.Name" />
    <PropertyColumn Property="semesters => semesters.StartDate" />
    <PropertyColumn Property="semesters => semesters.EndDate" />
    <PropertyColumn Property="semesters => semesters.Code" />
    <TemplateColumn Context="semesters">

        <div style="text-align: right;">
            <a href="@($"semesters/edit?id={semesters.Id}")"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="/semesters"> <i class="fa-solid fa-circle-info"></i></a>
            <a href="@($"semesters/delete?id={semesters.Id}")"><i class="fa-solid fa-trash"></i></a>
            <br />
        </div>
    </TemplateColumn>
</QuickGrid>
