<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login - BTEC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SIMS.styles.css" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/tailwind.output.css" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer></script>
    <HeadOutlet />
</head>


<body>
    <Routes />
    <script src="alpinejs/alpine.js" defer></script>
    <script src="alpinejs/alpine-ie11.min.js" defer></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        document.querySelectorAll('.toggle-password').forEach(togglePasswordButton => {
            const passwordInput = togglePasswordButton.previousElementSibling;
            const iconEyeOffPath = "m5.02 9.44-2.22 2.2C1.63 10.25 1 9 1 9s3-6 8.06-6q1.13.01 2.12.38L9.5 5.03 9 5a4 4 0 0 0-3.98 4.44m2.03 3.05A4 4 0 0 0 13 9q-.01-1.1-.54-2l-1.51 1.54q.05.22.05.46a2 2 0 0 1-2.44 1.95zm7.11-7.22A15 15 0 0 1 17 9s-3 6-7.94 6c-1.31 0-2.48-.4-3.5-1l-1.97 2L2 14.41 14.59 2 16 3.41z";
            const iconEyePath = "M9.06 3C4 3 1 9 1 9s3 6 8.06 6C14 15 17 9 17 9s-3-6-7.94-6M9 13a4 4 0 1 1 0-8 4 4 0 0 1 0 8m0-2a2 2 0 0 0 2-2 2 2 0 0 0-2-2 2 2 0 0 0-2 2 2 2 0 0 0 2 2";

            togglePasswordButton.addEventListener('click', function () {
                const icon = togglePasswordButton.querySelector('svg');
                const path = icon.querySelector('path');
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    icon.classList.replace('iconEyeOff', 'iconEye');
                    path.setAttribute('d', iconEyePath);
                } else {
                    passwordInput.type = 'password';
                    icon.classList.replace('iconEye', 'iconEyeOff');
                    path.setAttribute('d', iconEyeOffPath);
                }
            });
        });

    </script>
    <script>
        // Function to toggle side menu
        function toggleSideMenu() {
            const sideMenu = document.querySelector('.page .z-20');
            if (sideMenu) {
                sideMenu.classList.toggle('hidden');
            }
        }

        // Function to toggle theme
        function toggleTheme() {
            document.documentElement.classList.toggle('dark');
        }

        // Function to toggle notifications menu
        function toggleNotificationsMenu() {
            const menu = document.querySelector('[aria-label="Notifications"] + ul');
            if (menu) {
                menu.classList.toggle('hidden');
            }
        }

        // Function to close notifications menu
        function closeNotificationsMenu() {
            const menu = document.querySelector('[aria-label="Notifications"] + ul');
            if (menu) {
                menu.classList.add('hidden');
            }
        }

        // Function to toggle profile menu
        function toggleProfileMenu() {
            const menu = document.querySelector('[aria-label="Account"] + ul');
            if (menu) {
                menu.classList.toggle('hidden');
            }
        }

        // Function to close profile menu
        function closeProfileMenu() {
            const menu = document.querySelector('[aria-label="Account"] + ul');
            if (menu) {
                menu.classList.add('hidden');
            }
        }

        // Add event listeners to handle click events outside the menus
        document.addEventListener('click', (event) => {
            if (!event.target.closest('[aria-label="Notifications"]')) {
                closeNotificationsMenu();
            }
            if (!event.target.closest('[aria-label="Account"]')) {
                closeProfileMenu();
            }
        });


        document.addEventListener('DOMContentLoaded', () => {
            const pagesMenuButton = document.querySelector('[data-action="toggle-pages-menu"]');
            const highlightTrack = document.querySelector('#highlightTrack');
            const pagesMenu = document.querySelector('#pagesMenu');

            if (pagesMenuButton) {
                pagesMenuButton.addEventListener('click', () => {
                    // Toggle menu visibility
                    if (pagesMenu) {
                        pagesMenu.classList.toggle('hidden');
                        pagesMenu.classList.toggle('max-h-0');
                        pagesMenu.classList.toggle('opacity-0');
                        pagesMenu.classList.toggle('opacity-100');
                    }

                    // Toggle highlight track
                    if (highlightTrack) {
                        highlightTrack.classList.toggle('hidden');
                        highlightTrack.classList.toggle('w-1');
                    }
                });
            }
        });

    </script>
</body>

</html>
