@page "/studentcourses"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Models
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="studentcourses/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().StudentCourses">
    <PropertyColumn Property="studentcourses => studentcourses.Grade" />
    <PropertyColumn Property="studentcourses => studentcourses.Note" />
    <PropertyColumn Property="studentcourses => studentcourses.UserId" />
    <PropertyColumn Property="studentcourses => studentcourses.CourseId" />

    <TemplateColumn Context="studentcourses">
        <a href="@($"studentcourses/edit?id={studentcourses.Id}")">Edit</a> |
        <a href="@($"studentcourses/details?id={studentcourses.Id}")">Details</a> |
        <a href="@($"studentcourses/delete?id={studentcourses.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
