@page "/majors"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Models
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="majors/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Majors">
    <PropertyColumn Property="majors => majors.Name" />
    <PropertyColumn Property="majors => majors.DepartmentId" />

    <TemplateColumn Context="majors">
        <a href="@($"majors/edit?id={majors.Id}")">Edit</a> |
        <a href="@($"majors/details?id={majors.Id}")">Details</a> |
        <a href="@($"majors/delete?id={majors.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
