@page "/roles"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Models
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="roles/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Roles">
    <PropertyColumn Property="roles => roles.Name" />

    <TemplateColumn Context="roles">
        <a href="@($"roles/edit?id={roles.Id}")">Edit</a> |
        <a href="@($"roles/details?id={roles.Id}")">Details</a> |
        <a href="@($"roles/delete?id={roles.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
