@page "/courses"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Models
@using SIMS.Data
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="courses/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Courses">
    <PropertyColumn Property="courses => courses.Name" />
    <PropertyColumn Property="courses => courses.StartDate" />
    <PropertyColumn Property="courses => courses.EndDate" />
    <PropertyColumn Property="courses => courses.SemesterId" />
    <PropertyColumn Property="courses => courses.LecturerId" />
    <PropertyColumn Property="courses => courses.SubjectId" />
    <PropertyColumn Property="courses => courses.Code" />
    <PropertyColumn Property="courses => courses.Status" />

    <TemplateColumn Context="courses">
        <a href="@($"courses/edit?id={courses.Id}")">Edit</a> |
        <a href="@($"courses/details?id={courses.Id}")">Details</a> |
        <a href="@($"courses/delete?id={courses.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
