@page "/departments/details"

@using Microsoft.EntityFrameworkCore
@using SIMS.Models
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1 class="text-center" style="color: #FF6600; font-weight: bold;">Details Departments</h1>
<div>

    <hr />
    @if (departments is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name :</dt>
            <dd class=" text-center">@departments.Name</dd>
        </dl>
        <div>
            <a href="@($"/departments/edit?id={departments.Id}")">Edit</a> |
            <a href="@($"/departments")">Back to List</a>
        </div>
    }
</div>

@code {
    Departments? departments;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        departments = await context.Departments.FirstOrDefaultAsync(m => m.Id == Id);

        if (departments is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
